[threading]
SupervisorThreadSleepTime = 1000
DataSetFinderThreadSleepTime = 1000
RunResultFinderThreadSleepTime = 1000
RunFinderThreadSleepTime = 1000
ClusteringQualityMeasureFinderThreadSleepTime = 1000
ParameterOptimizationMethodFinderThreadSleepTime = 1000
DataStatisticFinderThreadSleepTime = 1000
methodMaxTime = 10